@import 'tailwindcss';

@theme {
      --color-text: #dfe9f9;
      --color-background: #141d2c;
      --color-backgroundLight: #434a56;
      --color-primary: #87adeb;
      --color-primaryDark: #51688d;
      --color-secondary: #50475c;

}