@import 'tailwindcss';

@theme {
      --color-text: black;
      --color-background: #E8DDB5;
      --color-accent: #D2A1B8;
      --color-primary: #304D6D;
      --color-primaryDark: #51688d;
      --color-secondary: #ADD7F6;

}